body{
    background-color: #f9f2f4;
}

li{
    list-style: none;
}
.menuLeft,.rightSide{
    margin-top: 50px;
}
 .active{
    color: #23527c;
}
 p.done{
     text-decoration: line-through;
     color: #C20000;
 }
 .createTask{
     margin-top: 10%;
 }
input[type='checkbox']{
    margin-top: 15px;
    margin-left: 20px;
    height: 20px;
    width: 20px;
    display: block;
    border-radius: 50%;
    position: relative;
    transition: all 0.4s;
    border: solid 5px #FFF;
    box-shadow: 0 0 1px #FFF; /
}

.actionButton{
    margin-right: 10px;
}
a.editTask{
    position: relative;
}

.task_lists li p{
    margin-left: 50px;
    font-size: 20px;
}
.editTask span{
    font-size: 15px;
    color: #005580;
    margin-right: 10px;
}
.deleteTask span{
    font-size: 15px;
    color: #005580;
    line-height: 30px;
}